<app-header class="hed"></app-header>
<form (ngSubmit)="onSubmit()">
  <div class="container">
    <label for="uname"><b>Korisnicko ime</b></label>
    <input
      type="text"
      class="input"
      [(ngModel)]="korisnickoIme"
      id="korisnickoIme"
      placeholder="Enter korisnickoIme"
      name="uname"
      required
    />

    <label for="psw"><b>Lozinka</b></label>
    <input
      class="input"
      type="lozinka"
      name="lozinka"
      [(ngModel)]="lozinka"
      id="lozinka"
      placeholder="Enter lozinka"
      name="psw"
      required
    />

    <button class="input-submit" type="submit" value="Submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>
</form>
